.confirmation-button {
    animation: fadeIn 1s ease; /* Adjust animation duration and easing as needed */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 50;
    }
}
