<!-----------------------------------------------------------Show  Fellowship Profile Detalis  Editable View --------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------Fellowship Side Show this View-------------------------------------------------------------------->
@model Repository_Logic.Dto.Application_User_Dto



<style>
    input[type="number"] {
        -moz-appearance: textfield;
    }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    input[type="number"] {
        -moz-appearance: textfield;
    }

</style>
@if (TempData["EmailTaken"] != null)
{
    <script>
        Swal.fire({
            title: 'Exist This Email!',
            text: '@TempData["EmailTaken"]',
            icon: 'Warning'
        });
    </script>
}




<div class="row ml-2 ml-md-auto justify-content-md-end ">


    <a class=" back-button" asp-area="" asp-controller="Fellowship" asp-action="GetYourProfile">


        <span><i class="fa-solid fa-user"></i>View  profile</span>
    </a>

</div>
<div class="container-fluid">


    <div class="card o-hidden border-0 shadow-lg my-5" style="border: 4px solid black; border-radius:15px; /* Add this line to set the black border */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    box-sizing: border-box; background-image: url('/Images/RegistorBackGround4.jpg'); background-size: cover; ">
        <div class="MiddleLine">
        </div>
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">


                <div class="col-lg-12">
                    <div class="p-5">
                        <h1 class="Nameheader"><b>Update  Profile</b> </h1>

                        <form class="user" asp-action="UpdateProfile" id="registerForm" method="post" enctype="multipart/form-data">

                            <div style="font-size:20px;" asp-validation-summary="ModelOnly" class="text-danger" role="alert" id="existEmail"></div>
                            <input type="hidden" id="userId" asp-for="Id" class="form-control" />

                            <div class="form-group row">
                                <div class="profile-pic" style="margin:auto;">
                                    <label class="-label" for="file">
                                        <span class="glyphicon glyphicon-camera"></span>
                                        <span>Change Image</span>
                                    </label>
                                    <input id="file" type="file" onchange="loadFile(event)" />
                                    @if (!string.IsNullOrEmpty(Model.ProfileImage))
                                    {
                                        <img src="@Url.Action("GetProfilePic", "UserDetails", new { fileName = Model.ProfileImage })" id="output" width="200" />
                                    }
                                    else
                                    {
                                        <img src="https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-1024.png" id="output" width="200" alt="Default Image" />
                                    }
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">First Name:</div>
                                        <input asp-for="FirstName" id="exampleFirstName"
                                               placeholder="Enter First Name">
                                    </div>
                                    <span asp-validation-for="FirstName" id="FirstNameError" class="text-danger"></span>

                                </div>
                                <div class="col-sm-4">
                                    <div class="input_box">
                                        <div class="lablesForm">Middle Name:</div>
                                        <input asp-for="MiddleName" id="exampleMiddleName"
                                               placeholder="Enter Middle Name" />
                                    </div>
                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>


                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">Last Name:</div>
                                        <input asp-for="LastName" id="exampleLastName"
                                               placeholder="Enter Last Name" />
                                    </div>


                                    <span asp-validation-for="LastName" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="form-group row">



                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">Phone No:</div>
                                        <input type="number" asp-for="PhoneNumber" id="examplePhoneName"
                                               placeholder="Enter Phone No" oninput="restrictLengthUpdateProfile(this,10)" />
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                </div>

                                <div class="col-sm-6">
                                    <div class="input_box">
                                        <div class="lablesForm">Email:</div>
                                        <input asp-for="Email" id="emailInput" onkeyup="checkEmail()"
                                               placeholder="Enter Email Address" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div id="resultMessage"></div>

                                </div>
                            </div>





                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">City:</div>
                                        <input asp-for="city" id="exampleCityName"
                                               placeholder="Enter City" />
                                    </div>

                                    <span asp-validation-for="city" class="text-danger"></span>

                                </div>

                                <div class="col-sm-6">
                                    <div class="input_box">
                                        <div class="lablesForm">Country:</div>
                                        <select asp-for="Country" id="exampleCountry" placeholder="Country">
                                            <option value="" selected disabled>Please select Country</option>
                                            <option style="Width:50px;" value="India">India</option>
                                            <option value="Bharat">Bharat</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>

                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>


                            </div>

                            <div class="form-group row">





                                <div class="col-sm-12">
                                    <div class="input_box">
                                        <div class="lablesForm">Address:</div>
                                        <input asp-for="Address" id="exampleAddress"
                                               placeholder="Enter Address" />
                                    </div>
                                    <span asp-validation-for="Address" class="text-danger"></span>

                                </div>

                            </div>


                            <div style="margin-left:80%;">
                                <button id="registerButton" type="submit" class=" custom-btn btn-1" tooltip="Update your  Details." flow="up">Update</button>

                            </div>

                        </form>

                        <div class="text-center">
                            <a id="" class="small" asp-area="Identity" asp-page="/Account/ProfileResetPassword" asp-route-email="@ViewBag.Email">Forgot a password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="MiddleLine">
        </div>

    </div>

</div>




<!-- Bootstrap core JavaScript-->
@section Scripts {


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="~/felloshipupdate/felloshipupdateprofile.js"></script>
    <partial name="_ValidationScriptsPartial" />


}





}