@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}





            <
            <div class="row" style="margin-left:200px;">

                <div class="col-lg-8" style="background-color:white">
                    <div class="p-5 text-center">
                        <!-- Added text-center class here -->

                        <br />
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0 text-center mx-auto">
                                <!-- Added text-center and mx-auto classes here -->

                                <h1>@ViewData["Title"]</h1>
                                <partial name="_StatusMessage" model="Model.StatusMessage" />
                            <div class="mt-3">
                                <button id="login-submit" type="submit" class="btn btn-primary btn-user btn-block">Go to Log in</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      

