@page
@model RegisterModel1
@{
    ViewData["Title"] = "Register";
}

  
 @if (TempData["ErrorMessageFellowship"] != null)
{

    <script>
        Swal.fire({
            title: 'Fail To Register account!',
            text: '@TempData["ErrorMessageFellowship"]',
            icon: 'error'
        });
    </script>

}


 <link href="../../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../../css/sb-admin-2.min.css" rel="stylesheet">


    <div class="container-fluid">


        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                  
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"><b>Add  Fellowship</b> </h1>
                            </div>
                            <form class="user"   id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                   
                                     <input asp-for="Input.FirstName"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" >
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-4">
                                           <input asp-for="Input.MiddleName"  class="form-control form-control-user requiredFiled" id="exampleFirstName"
                                            placeholder="Middel Name" />
                                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                    </div>
                                      <div class="col-sm-4 mb-3 mb-sm-0">
                         
                                     <input asp-for="Input.LastName"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Last Name" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                    </div>
                                </div>

                                 <div class="form-group row">
                                     <div class="col-sm-2 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                            
                                     <input type="number" asp-for="Input.PhoneNumber"  class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="Phone No" oninput="restrictLength(this,10)" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                    </div>
                                       <div class="col-sm-2 mb-3 mb-sm-0"></div>

                                    <div class="col-sm-3">
                                           <input asp-for="Input.Email"  class="form-control form-control-user"  id="emailInput" onkeyup="checkEmail()"
                                            placeholder="Email Address" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                                            <div id="resultMessage"></div>

                                    </div>

                                  

                                </div>
                                                     
                            
                                  <div class="form-group row">

                                  <div class="col-sm-1"></div>

                                        <div class="col-sm-5">

                                      <input asp-for="Input.Address"  class="form-control form-control-user" id="exampleInputEmail"
                                            placeholder="Address" />
                                       <span asp-validation-for="Input.Address" class="text-danger"></span>

                                </div>
                                 <div class="col-sm-0.5 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                              
                                     <input asp-for="Input.City"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="City" />
                                        <span asp-validation-for="Input.City" class="text-danger"></span>

                                    </div>
                                     <div class="col-sm-0.5 "></div>

                                    <div class="col-sm-2">

                                           <select asp-for="Input.Country" class="form-control " style=" border-radius: 25px;height:50px;font-size:14px;font-family:Calibri;color:grey" id="exampleFirstName" id="exampleFirstName" placeholder="Country">
                                                <option class="form-control col-sm-1" value="" selected disabled>Please select Country</option>
                                                    <option class="form-control col-sm-1" style="Width:50px;" value="India">India</option>
                                                   <option class="form-control col-sm-1" value="Bharat">Bharat</option>
                                                   <option class="form-control col-sm-1" value="Other">Other</option>
                                           </select>

                                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                                    </div>
                                </div>
                             
                              

                                  <input type="hidden" asp-for="Input.Roles" class="form-control" autocomplete="new-password" value="FELLOWSHIP" aria-required="true" />
                               
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                      </div>
                                    <div class="col-sm-4">
                                     <input asp-for="Input.ConfirmPassword" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password" />
                                       <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                                          </div>
                                </div>

                                   <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Add Fellowship</button>

                                <hr>
                            </form>
                            <hr>
                            
                            <div class="text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
   
    @section Scripts {


        <script>





        function checkEmail() {
            var email = document.getElementById('emailInput').value.trim();
            var submitButton = document.getElementById("registerSubmit");

            if (email) {



                $.ajax({
                    type: 'POST',
                    url: '/UserDetails/CheckEmail',
                    data: { email: email },
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            $('#resultMessage').text('Email is available.').css('color', 'green');
                            submitButton.disabled = false;

                        } else {
                            $('#resultMessage').text('This email is already taken. Please enter a new email.').css('color', 'red');
                            submitButton.disabled = true;
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
            else {

                $('#resultMessage').text('').css('color', 'red');

            }
        }
        function restrictLength(input, maxLength) {
            const value = input.value.toString(); // Convert the numeric value to a string
            if (value.length > maxLength) {
                input.value = value.slice(0, maxLength); // Trim the value to the maximum length
            }
        }

        </script>



     <partial name="_ValidationScriptsPartial" />
     
<a href="~/lib/jquery/dist/jquery.min.map"></a>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
}




