@page
@model RegisterModel1
@{
    ViewData["Title"] = "Register";
}

  
 @if (TempData["ErrorMessageFellowship"] != null)
{

    <script>
        Swal.fire({
            title: 'Fail To Register account!',
            text: '@TempData["ErrorMessageFellowship"]',
            icon: 'error'
        });
    </script>

}




<div class="row ml-2 ml-md-auto justify-content-md-end ">
    <a class="back-button" asp-area=""  asp-controller="Fellowship" asp-action="FellowshipList">




        <span><i class="fa-solid fa-user"></i> Fellowship List </span>
    </a>

</div>
    <div class="container-fluid">


    <div class="card o-hidden border-0 shadow-lg my-5" style="border: 4px solid black; border-radius:15px; /* Add this line to set the black border */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    box-sizing: border-box; background-image: url('/Images/RegistorBackGround4.jpg'); background-size: cover; ">
        <div class="MiddleLine">
        </div>
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                  
                    <div class="col-lg-12">
                        <div class="p-5">
                        <h1 class="Nameheader"><b>Add  Fellowship</b> </h1>

                            <form class="user"   id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">


                            <div class="form-group row">
                                <div class="profile-pic" style="margin:auto;">
                                    <label class="-label" for="file">
                                        <span class="glyphicon glyphicon-camera"></span>
                                        <span>Change Image</span>
                                    </label>
                                    <input id="file" type="file" asp-for="Input.ProfileImage" onchange="loadFile(event)" />
                                    <img src="~/Images/kuamr.jpg" id="output" width="200" />
                                </div>
                            </div>

                             
                            <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">First Name:</div>
                                        <input asp-for="Input.FirstName" id="exampleFirstName"
                                            placeholder="Enter First Name" >
                                    </div>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-4">
                                    <div class="input_box">
                                        <div class="lablesForm">Middle Name:</div>
                                        <input asp-for="Input.MiddleName" id="exampleMiddleName"
                                            placeholder="Enter Middle Name" />
                                            </div>
                                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                    </div>


                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">Last Name:</div>
                                        <input asp-for="Input.LastName" id="exampleLastName"
                                               placeholder="Enter Last Name" />
                                    </div>


                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                </div>
                              </div>

                            <div class="form-group row">

                              

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">Phone No:</div>
                                        <input type="number" asp-for="Input.PhoneNumber" id="examplePhoneName"
                                           placeholder="Enter Phone No" oninput="restrictLength(this,10)" />
                                           </div>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                </div>

                                <div class="col-sm-6">
                                    <div class="input_box">
                                        <div class="lablesForm">Email:</div>
                                        <input asp-for="Input.Email" id="emailInput" onkeyup="checkEmail()"
                                               placeholder="Enter Email Address" />
                                    </div>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    <div id="resultMessage"></div>

                                </div>
                            </div>
                                                     
                            
                         
                              

                                  <input type="hidden" asp-for="Input.Roles"  value="FELLOWSHIP"  />
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">City:</div>
                                        <input asp-for="Input.City" id="exampleCityName"
                                           placeholder="Enter City" />
                                    </div>

                                    <span asp-validation-for="Input.City" class="text-danger"></span>

                                </div>

                                <div class="col-sm-6">
                                    <div class="input_box">
                                        <div class="lablesForm">Country:</div>
                                        <select asp-for="Input.Country" id="exampleCountry" placeholder="Country">
                                        <option  value="" selected disabled>Please select Country</option>
                                        <option  style="Width:50px;" value="India">India</option>
                                        <option  value="Bharat">Bharat</option>
                                        <option  value="Other">Other</option>
                                    </select>
                                    </div>

                                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                                </div>


                            </div>

                            <div class="form-group row">





                                <div class="col-sm-12">
                                    <div class="input_box">
                                        <div class="lablesForm">Address:</div>
                                        <input asp-for="Input.Address" id="exampleAddress"
                                               placeholder="Enter Address" />
                                    </div>
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>

                                </div>

                            </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input_box">
                                        <div class="lablesForm">Password:</div>
                                        <input asp-for="Input.Password" 
                                            id="exampleInputPassword" placeholder="Enter Password" />
                                    </div>

                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                      </div>
                                    <div class="col-sm-6">
                                    <div class="input_box">
                                        <div class="lablesForm">Confirm Password:</div>
                                     <input asp-for="Input.ConfirmPassword" 
                                            id="exampleRepeatPassword" placeholder="Enter Repeat Password" />
                                    </div>

                                       <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                                          </div>
                                </div>

                            <div style="margin-left:80%;">
                                <button id="registerSubmit" type="submit" class=" custom-btn btn-1" tooltip="Register New  Fellowship." flow="up">Submit</button>

                            </div>

                            </form>
                            
                            <div class="text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="MiddleLine">
        </div>

        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
   
    @section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <script>
        function validateEmail(email) {
            console.log("Email Validated");
            var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            return emailRegex.test(email);
        }
        //Phone No Validation
        function validatePhone(phone) {
            console.log("Phone No Validated");
            // Validate if the input is a valid number and doesn't start with zero (optional: and has 10 digits)
            return !isNaN(phone) && phone.length === 10 && phone.charAt(0) !== '0';
        }




        document.getElementById('registerSubmit').addEventListener('click', function (event) {
            // Get form fields
            var FirstName = document.getElementById('exampleFirstName').value;
            var MiddleName = document.getElementById('exampleMiddleName').value;
            var LastName = document.getElementById('exampleLastName').value;
            var PhoneNo = document.getElementById('examplePhoneName').value;
            var Email = document.getElementById('emailInput').value;
            var City = document.getElementById('exampleCityName').value;
            var Country = document.getElementById('exampleCountry').value;
            var Address = document.getElementById('exampleAddress').value;

            // Get the submit button
            var errorMessage = '';
            console.log("Submit Button Hit");

            if (!PhoneNo) {
                errorMessage += 'Phone Number is required.\n';
            } else if (!validatePhone(PhoneNo)) {
                errorMessage += 'Please enter a valid Phone Number.\n';
            }

            if (!Email) {
                errorMessage += 'Email is required.\n';
            } else if (!validateEmail(Email)) {
                errorMessage += 'Please enter a valid Email.\n';
            }

            // Check for null or empty values
            if (!FirstName || !MiddleName || !LastName || !PhoneNo || !Email || !City || !Country || !Address) {
                errorMessage += 'All fields are required. Please enter all fields.\n';
            }

            if (errorMessage !== '') {
                Toastify({
                    text: "All fields are required. Please enter all fields.",
                    duration: 4000,
                    gravity: 'up',
                    position: 'right',
                    backgroundColor: 'red',
                }).showToast();
                // Prevent form submission if there are errors
            } else {
                // Proceed to the next form or other actions
            }
        });





        function checkEmail() {
            var email = document.getElementById('emailInput').value.trim();
            var submitButton = document.getElementById("registerSubmit");

            if (email) {



                $.ajax({
                    type: 'POST',
                    url: '/UserDetails/CheckEmailRegister',
                    data: { email: email },
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            $('#resultMessage').text('Email is available.').css('color', 'green');
                            submitButton.disabled = false;

                        } else {
                            $('#resultMessage').text('This email is already taken. Please enter a new email.').css('color', 'red');
                            submitButton.disabled = true;
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
            else {

                $('#resultMessage').text('').css('color', 'red');

            }
        }
        function restrictLength(input, maxLength) {
            const value = input.value.toString(); // Convert the numeric value to a string
            if (value.length > maxLength) {
                input.value = value.slice(0, maxLength); // Trim the value to the maximum length
            }
        }


        var loadFile = function (event) {
            var image = document.getElementById("output");
            image.src = URL.createObjectURL(event.target.files[0]);
        };

        </script>



     <partial name="_ValidationScriptsPartial" />
     
@*<a href="~/lib/jquery/dist/jquery.min.map"></a>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
*@}




