@page
@model RegisterModel1
@{
    ViewData["Title"] = "Register";
}

  
 @if (TempData["ErrorMessageFellowship"] != null)
{

    <script>
        Swal.fire({
            title: 'Fail To Register account!',
            text: '@TempData["ErrorMessageFellowship"]',
            icon: 'error'
        });
    </script>

}


 <link href="../../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../../css/sb-admin-2.min.css" rel="stylesheet">


    <div class="container-fluid">


        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                  
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add  Fellowship </h1>
                            </div>
                            <form class="user"   id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                   
                                     <input asp-for="Input.FirstName"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" >
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-4">
                                           <input asp-for="Input.MiddleName"  class="form-control form-control-user requiredFiled" id="exampleFirstName"
                                            placeholder="Middel Name" />
                                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                    </div>
                                      <div class="col-sm-4 mb-3 mb-sm-0">
                         
                                     <input asp-for="Input.LastName"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Last Name" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                    </div>
                                </div>

                                 <div class="form-group row">
                                     <div class="col-sm-2 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                            
                                     <input asp-for="Input.PhoneNumber"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Phone No" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                    </div>
                                       <div class="col-sm-2 mb-3 mb-sm-0"></div>

                                    <div class="col-sm-3">
                                           <input asp-for="Input.Email"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Email Address" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                  

                                </div>
                                                     
                            
                                  <div class="form-group row">

                                  <div class="col-sm-1"></div>

                                        <div class="col-sm-5">

                                      <input asp-for="Input.Address"  class="form-control form-control-user" id="exampleInputEmail"
                                            placeholder="Address" />
                                       <span asp-validation-for="Input.Address" class="text-danger"></span>

                                </div>
                                 <div class="col-sm-0.5 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                              
                                     <input asp-for="Input.City"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="City" />
                                        <span asp-validation-for="Input.City" class="text-danger"></span>

                                    </div>
                                     <div class="col-sm-0.5 "></div>

                                    <div class="col-sm-2">

                                           <select asp-for="Input.Country" class="form-control " style=" border-radius: 25px;height:50px;font-size:14px;font-family:Calibri;color:grey" id="exampleFirstName" id="exampleFirstName" placeholder="Country">
                                                <option class="form-control col-sm-1" value="" selected disabled>Please select Country</option>
                                                    <option class="form-control col-sm-1" style="Width:50px;" value="India">India</option>
                                                   <option class="form-control col-sm-1" value="Bharat">Bharat</option>
                                                   <option class="form-control col-sm-1" value="Other">Other</option>
                                           </select>

                                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                                    </div>
                                </div>
                             
                              

                                  <input type="hidden" asp-for="Input.Roles" class="form-control" autocomplete="new-password" value="FELLOWSHIP" aria-required="true" />
                               
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0"></div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                      </div>
                                    <div class="col-sm-4">
                                     <input asp-for="Input.ConfirmPassword" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password" />
                                       <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                                          </div>
                                </div>

                                   <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Add Fellowship</button>

                                <hr>
                            </form>
                            <hr>
                            
                            <div class="text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
   
    @section Scripts {
     <partial name="_ValidationScriptsPartial" />

     @* <script src="../../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../../../js/sb-admin-2.min.js"></script>*@


      <script type="text/javascript">

     function saveFiles()
        {
        //    let formData = {
          
        //    path: $("#UploadAadhar").val(),

        //      }
        //console.log(formData)
        //$.ajax({
        //    url: "/Home/testpath",
        //    type: "POST",
        //    data: formData,
        //    success: function (response) {
        //        alert(response);
        //    },
        //    error: function (request, status, error) {
        //        alert(request.responseText);
        //    }
        //});

          var file = $('#UploadAdhar').val();
        if (file == "") {

        }
        else {
            var files = $('#UploadAdhar').get(0).files;
            var fileData = new FromData();
            for (var i = 0; i < files.length; i++) {
                fileData.append("UploadAdhar", files[i])
            }
            $.ajax({
                type: "POST",
                URL: "/Upload/UploadFilesData",
                deb
                dataType: "json",
                contentType: false.
                    processData: false,
                data: fileData,
                success: function (response) {
                    $('#spnImgError').text("Image Upload")
                },
                error: function (error) {
                    $('#spnImgError').text("Not  Uploaded Image")

                }
            });
        }



    }
</script>

<script type="text/javascript">
var loadfile=function(event){

        var output = document.getElementById('UploadPAN');
        output.src=URL.createObjectURL(event.target.files[0]);
        output.onload=function() {

            URL.revokeObjectURL(output.src)
               $('#spnImgError').text("Pan  Image Upload")
        }
      



};



   
</script>
<script type="text/javascript">


      var loadfile2 = function (event) {

            var output = document.getElementById('blah2');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)

            }
      };
</Script>
<script type="text/javascript">


  

  function uploadImage() {
      
    const formData = new FormData();
    const fileInput = document.getElementById("UploadAdhar");
    formData.append("image", fileInput.files[0]);
    console.log(fileInput);
    fetch("/Upload/UploadImage", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
           // console.log(data.imagePath)
            // Image uploaded successfully, now save the path in the database.
            
             
              const imagePath = data.imagePath;

              localStorage.setItem('userName', imagePath);
              console.log(imagePath);
            document.getElementById("UploadAdhar").src = imagePath;
        } else {
            // Handle error here
            console.error("Image upload failed.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });

    // Prevent the default form submission
    return false;
}

function saveImagePathToDatabase(imagePath) {
    fetch("/Image/SaveImagePath", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ imagePath: imagePath }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Image path saved in the database.
            console.log("Image path saved successfully.");
        } else {
            // Handle error here
            console.error("Image path save failed.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
}

</script>   

<a href="~/lib/jquery/dist/jquery.min.map"></a>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
}




