@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
	
	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30vh;
		z-index: 100;
		background: rgb(255, 255, 255);
		background: linear-gradient(0deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0) 100%);
	}

	.text {
		font-size: 4vw; /* Set the font size as a percentage of the viewport width */
		display: flex;
		position: absolute;
		bottom: 20vh;
		left: 50%;
		transform: translateX(-50%);
		user-select: none;
	}

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		transition: ease-out 1s;
		transform: translateY(40%);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.letter {
		font-size: 100%; /* Set the font size as a percentage of the parent's font size */
	}

	.shadow {
		transform: scale(1, -1);
		color: #999;
		transition: ease-in 5s, ease-out 5s;
	}

	&:hover .letter {
		transform: translateY(-200%);
	}

	&:hover .shadow {
		opacity: 0;
		transform: translateY(200%);
	}
</style>


<!-- #CodePenChallenge: Lightness -->

<div class="container">
	<div class="row justify-content-center">

		
	<div class="overlay"></div>

	<div class="text">
		<div class="wrapper">
			<div id="L" class="letter">C</div>
			<div class="shadow">C</div>
		</div>
		<div class="wrapper">
			<div id="I" class="letter">H</div>
			<div class="shadow">H</div>
		</div>
		<div class="wrapper">
			<div id="G" class="letter">E</div>
			<div class="shadow">E</div>
		</div>
		<div class="wrapper">
			<div id="H" class="letter">C</div>
			<div class="shadow">C</div>
		</div>
		<div class="wrapper">
			<div id="T" class="letter">K-</div>
			<div class="shadow">K-</div>
		</div>

			<div class="wrapper">
				<div id="Y" class="letter">Y</div>
				<div class="shadow">Y</div>
			</div>
			<div class="wrapper">
				<div id="O" class="letter">O</div>
				<div class="shadow">O</div>
			</div>
			<div class="wrapper">
				<div id="U" class="letter">U</div>
				<div class="shadow">U</div>
			</div>
			<div class="wrapper">
				<div id="R" class="letter">R</div>
				<div class="shadow">R</div>
			</div>
			

		<div class="wrapper">
			<div id="N" class="letter">E</div>
			<div class="shadow">E</div>
		</div>
		<div class="wrapper">
			<div id="E" class="letter">M</div>
			<div class="shadow">M</div>
		</div>
			<div class="wrapper">
				<div id="A" class="letter">A</div>
				<div class="shadow">A</div>
			</div>
		<div class="wrapper">
			<div id="S" class="letter">I</div>
			<div class="shadow">I</div>
		</div>
		<div class="wrapper">
			<div id="Stwo" class="letter">L</div>
			<div class="shadow">L</div>
		</div>
	</div>



	</div>
</div>
