@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

  
 
  

<style>
      .custom-file-upload {
            cursor: pointer;
            padding: 10px;
        border: 1px solid white;
            border-radius: 20px;
            background-color: forestgreen;
            display: inline-block;
        }

        .custom-file-upload:hover {
            background-color: blue;
        }
</style>
   
 <link href="../../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../../css/sb-admin-2.min.css" rel="stylesheet">

@if (TempData["ErrorMessage"] != null)
{

    <script>
        Swal.fire({
            title: 'Fail To Register account!',
            text: '@TempData["ErrorMessage"]',
            icon: 'error'
        });
    </script>

}

    <div class="container-fluid">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add User</h1>
                            </div>
                            <form class="user"   id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                            <div style="font-size:20px;" asp-validation-summary="ModelOnly" class="text-danger" role="alert" id="existEmail"></div>
                            <br />
                            <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                      @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
*@
                                     <input asp-for="Input.FirstName"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-4">
                                           <input asp-for="Input.MiddleName"  class="form-control form-control-user requiredFiled" id="exampleFirstName"
                                            placeholder="Middel Name" />
                                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                    </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name">
                                    *@
                                    <input asp-for="Input.LastName" class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="Last Name" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                </div>
                                </div>
                            <br />
                                 <div class="form-group row">
                                  
                                       <div class="col-sm-3">
                                           <input asp-for="Input.PhoneNumber"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Phone No" />
                                          <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                      </div>

                                      <div class="col-sm-4">

                                    <input asp-for="Input.Email" class="form-control form-control-user" id="emailInput" onkeyup="checkEmail()"
                                           placeholder="Email Address" />
                                          <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    <div id="resultMessage"></div>

                                   
                                      </div>
                                      <div class="col-sm-5 ">

                                         <input asp-for="Input.Address" class="form-control form-control-user" id="exampleInputEmail"
                                           placeholder="Address" />
                                       <span asp-validation-for="Input.Address" class="text-danger"></span>

                                    @* <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">*@
                                      </div>
                                </div>

                            <br />
                              
                                  <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                      @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
*@
                                     <input asp-for="Input.City"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="City" />
                                        <span asp-validation-for="Input.City" class="text-danger"></span>

                                    </div>
                                <div class="col-sm-2">

                                    <select asp-for="Input.Country" class="form-control " style=" border-radius: 25px;height:50px;font-size:14px;font-family:Calibri;color:grey" id="exampleFirstName" id="exampleFirstName" placeholder="Country">
                                        <option class="form-control col-sm-1" style="Width:50px;" value="" selected disabled>Please select Country</option>
                                        <option class="form-control col-sm-1" value="India">India</option>
                                        <option class="form-control col-sm-1" value="Bharat">Bharat</option>
                                        <option class="form-control col-sm-1" value="Other">Other</option>
                                    </select>

                                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <input asp-for="Input.GSTNo" class="form-control form-control-user" id="Gstno" onkeyup="checkGstNo()"
                                           placeholder="GST No" />
                                    <span asp-validation-for="Input.GSTNo" class="text-danger"></span>
                                    <div id="resultMessage1"></div>
                                </div>



                              







                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name">
                                    *@


                                    <select asp-for="Input.BusinessType" class="form-control dropdown-toggle " style=" border-radius: 25px;height:50px;font-size:14px;font-family:Calibri;color:grey" id="exampleFirstName" placeholder="Country">
                                        <option class="form-control col-sm-1" value="" selected disabled>Please select Buiness Type</option>
                                        <option class="form-control col-sm-1" value="Organization">Organization</option>
                                        <option class="form-control col-sm-1" value="Individual">Individual</option>
                                       
                                    </select>

                                   
                                    <span asp-validation-for="Input.BusinessType" class="text-danger"></span>

                                </div>
                                
                                </div>

                                  <input type="hidden" asp-for="Input.Roles" class="form-control" autocomplete="new-password" value="User" aria-required="true" />
                            <br />

                                 <div class="form-group row">
                                  
                                    <div class="col-sm-5">
                                           <input asp-for="Input.website"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Web-Site" />
                                        <span asp-validation-for="Input.website" class="text-danger"></span>
                                    </div>

                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name">
                                    *@
                                    <input asp-for="Input.PANNo" class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="Pan Card No" />
                                    <span asp-validation-for="Input.PANNo" class="text-danger"></span>

                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name">
                                    *@
                                    <input asp-for="Input.AdharNo" class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="Adhar Card No" />
                                    <span asp-validation-for="Input.AdharNo" class="text-danger"></span>

                                </div>

                                </div>

                            <br />

                            <div class="form-group row">

                                <div class="col-sm-3 mb-3 mb-sm-0">
                                </div>
                                <div class="col-sm-2 mb-3 mb-sm-3">
                                    @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name">
                                    *@



                                    <label for="fileAdharInput" class="custom-file-upload" style="color:white;-webkit-text-stroke-color:black ;width:200px;">
                                        <i class="fas fa-cloud-upload-alt"></i> Upload Adhar-Card
                                    </label>
                                    <input type="file" asp-for="Input.UploadAdharPath" id="fileAdharInput" style="display: none;" onchange="displayFileNameAdhar(this)" />
                                    <div id="fileNameAdharDisplay" style="color:forestgreen;font-size:revert"><p style="color:red"> Not Select File</p> </div>
                                 
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                   



                                    <label for="fileInput" class="custom-file-upload" style="color:white;-webkit-text-stroke-color:black width:200px;">
                                        <i class="fas fa-cloud-upload-alt"></i> Upload Pan-Card
                                    </label>
                                    <input type="file" asp-for="Input.UploadPanPath" id="fileInput" style="display: none;" onchange="displayFileName(this)" />
                                    <div id="fileNameDisplay" style="color:forestgreen;font-size:revert"><p style="color:red"> Not Select File</p> </div>
                                  
                                </div>
                                </div>
                                @*  <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                      @*  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">

                                     <input type="file" asp-for="Input.UploadAdharPath"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Upload Adhar File" />
                                        <span asp-validation-for="Input.UploadAdharPath" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-6">
                                           <input type="file" asp-for="Input.UploadPanPath"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Upload Pan Card File" />
                                        <span asp-validation-for="Input.UploadPanPath" class="text-danger"></span>
                                    </div>
                                </div>


                                  <div class="form-group row">
                                    
                                    <div class="col-sm-6">
                                           <input type="file" asp-for="Input.UploadPanPath"  class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Upload Pan Card File" />
                                        <span asp-validation-for="Input.UploadPanPath" class="text-danger"></span>
                                    </div>
                                </div>*@

                                <div class="form-group row">
                                      <div class="col-sm-2 mb-3 mb-sm-0">
  
                                          </div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                      @*  <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">*@
                                    </div>
                                    <div class="col-sm-4">
                                     <input asp-for="Input.ConfirmPassword" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password" />
                                       <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        @*<input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">*@
                                    </div>
                                </div>

                            <button id="registerButton" type="submit" class="btn btn-primary btn-user btn-block">Add User</button>

                               @* <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>*@
                                <hr>
                            </form>
                            <hr>
                            
                            <div class="text-center">
                                  @*     <a class="small" id="login" asp-area="Identity" asp-page="/Account/Login">Already have an account? Login!</a>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
   
    @section Scripts {
     <partial name="_ValidationScriptsPartial" />

     @* <script src="../../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../../../js/sb-admin-2.min.js"></script>
*@




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script type="text/javascript">

        function displayFileNameAdhar(input) {
            const fileNameDisplay = document.getElementById("fileNameAdharDisplay");
           
            if (input.files.length > 0) {
                fileNameDisplay.textContent = "Selected File: " + input.files[0].name;
                document.getElementById("pdfAdhar").innerHTML
               
            } else {
                fileNameDisplay.textContent = "No file selected";
            }
        }

        function displayFileName(input) {
            const fileNameDisplay = document.getElementById("fileNameDisplay");

            if (input.files.length > 0) {
                fileNameDisplay.textContent = "Selected File: " + input.files[0].name;
                document.getElementById("pdfAdhar").innerHTML

            } else {
                fileNameDisplay.textContent = "No file selected";
            }
        }



     


            function checkEmail() {
                var email = document.getElementById('emailInput').value.trim();
                var submitButton = document.getElementById("registerButton");

                if (email) {



                    $.ajax({
                        type: 'POST',
                        url: '/UserDetails/CheckEmail',
                        data: { email: email },
                        success: function (result) {
                            console.log(result);
                            if (result) {
                                $('#resultMessage').text('Email is available.').css('color', 'green');
                                submitButton.disabled = false;

                            } else {
                                $('#resultMessage').text('This email is already taken. Please enter a new email.').css('color', 'red');
                                submitButton.disabled = true;
                            }
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                }
                else {

                    $('#resultMessage').text('').css('color', 'red');

                }
            }




        function checkGstNo() {
            var GstNo = document.getElementById('Gstno').value.trim();
            var submitButton = document.getElementById("registerButton");

            if (GstNo) {

                console.log(GstNo);

                $.ajax({
                    type: 'POST',
                    url: '/UserDetails/CheckGstNo',
                    data: { GstNo: GstNo },
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            $('#resultMessage1').text('').css('color', 'green');
                            submitButton.disabled = false;

                        } else {
                            $('#resultMessage1').text('This Gst no is already Exist. Please Uniqe Gst No Enter.').css('color', 'red');
                            submitButton.disabled = true;

                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
            else {

                $('#resultMessage').text('').css('color', 'red');

            }
        }
  





</script>
   @* <script>
        const imageInput = document.getElementById("fileInput");
        const uploadedImage = document.getElementById("uploadedImage");

        imageInput.addEventListener("change", function () {
            const file = "D:/DotNet Project Application/live the gst git/The_GST_1/The_GST_1/wwwroot/Images/pdf incon.jpg"
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = "block";
                };
                reader.readAsDataURL(file);
            } else {
                uploadedImage.src = "";
                uploadedImage.style.display = "none";
            }
        });
    </script>*@

@*    <script>
        document.getElementById("registerButton").addEventListener("click", function () {
            // Perform user registration here (e.g., submit the form)
            // You can add AJAX for asynchronous registration if needed

            // After successful registration, show a SweetAlert
            Swal.fire({
                title: 'Registration Successful ',
                text: 'You have been registered successfully!',
                icon: 'success',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the login page or any other appropriate page
                    window.location.href = '/Home/Index';
                }
            });
        });
    </script>*@
<a href="~/lib/jquery/dist/jquery.min.map"></a>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

}




